body{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 150px;
}

.upper{
    width: 90%;
    padding-left: 25px;
    padding-bottom:20px;
}

h2{
    color: hsl(179, 62%, 43%);
}

h3{
    color: hsl(71, 73%, 54%);
}

p{
    color: hsl(218, 22%, 67%);
}

.con{
    display: flex;
}

.sub{
    width: 50%;
    background:  hsl(179, 62%, 43%);
    color: white;
    padding-left: 40px;
    padding-right: 90px;
    padding-top: 20px;
}

.why{
    width: 50%;
    height: 200px;
    background:hsl(179, 42%, 53%);
    color: white;
    margin: 0px;
    padding-left: 40px;
    padding-right: 90px;
    padding-top: 15px;
    padding-bottom: 50px;
}
button{
    width: 230px;
    height: 45px;
    margin-right: 10px;
    margin-top: 5px;
    background:  hsl(71, 73%, 54%);
    padding-left: 10px;
    border-radius: 5px;
    border: none;
    color: white;
}
.per{
    display: flex;
    margin-bottom: 0;
    margin-top: 0;
}
.price{
    color: white;
    padding-right: 15px;
}

h5{
    color:  hsl(216, 15%, 87%);
}
span{
    font-size: small;
}

@media screen and (max-width:600px) {
    body{
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
        margin-bottom: 20px;
    }

    .con{
        display: inline;
        margin-left: 500px;
    }

   .why, .sub{
       margin-right: auto;
        margin-left: auto;
        width: 55%;
        padding-bottom: 15px;
    }

   .upper{
       margin: 0;
       width: 70%;
       margin-left: 30px;
   }
}
